site_name: "Heroes of Might and Magic 3: The Board Game Wiki"
site_url: https://en.homm3bg.wiki

markdown_extensions:
  - attr_list
  - md_in_html
  - pymdownx.caret
  - pymdownx.mark
  - pymdownx.tilde
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences
  - pymdownx.tabbed:
      alternate_style: true
      slugify: !!python/object/apply:pymdownx.slugs.slugify
        kwds:
          case: lower
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - toc:
      permalink: true
      toc_depth: 3
  - tables
  - pymdownx.emoji:
      emoji_index: !!python/name:material.extensions.emoji.twemoji
      emoji_generator: !!python/name:homm3bgwiki.glyph_svg
      options:
        custom_icons:
          - overrides/.icons/glyphs
  - footnotes

theme:
  name: material
  custom_dir: overrides
  language: en
  logo: assets/game_logo.png
  features:
    - content.code.copy
    - navigation.indexes
    - navigation.instant
    - navigation.instant.progress
    - navigation.top
    - search.suggest
  palette:
    # Palette toggle for automatic mode
    - media: "(prefers-color-scheme)"
      toggle:
        icon: material/brightness-auto
        name: Switch to light mode
    # Palette toggle for light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: brown
      accent: amber
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Palette toggle for dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: brown
      accent: yellow
      toggle:
        icon: material/brightness-4
        name: Switch to system preference
  font:
    text: Vollkorn
  icon:
    repo: fontawesome/brands/git-alt
    alternate: gb-round

extra:
  alternate:
    - name: English
      link: https://en.homm3bg.wiki
      lang: en
    - name: Polski
      link: https://pl.homm3bg.wiki
      lang: pl
    - name: Español
      link: https://es.homm3bg.wiki
      lang: es
    - name: Français
      link: https://fr.homm3bg.wiki
      lang: fr
    - name: Help translate
      link: https://discord.gg/Y4uM9pPWF6

extra_css:
  - stylesheets/extra.css

extra_javascript:
  - https://unpkg.com/tablesort@5.3.0/dist/tablesort.min.js
  - https://unpkg.com/tablesort@5.3.0/dist/sorts/tablesort.number.min.js
  - javascripts/tablesort.js

plugins:
  - search
  - awesome-nav
  - exclude-search:
      exclude:
        - /*/index.md

repo_url: https://github.com/Mirzipan/Homm3_BG_Database
repo_name: Mirzipan/Homm3_BG_Database
