name: Publish Docs
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
permissions:
  contents: write


jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Configure Git Credentials
        run: |
          git config user.name github-actions[bot]
          git config user.email 41898282+github-actions[bot]@users.noreply.github.com

      - uses: actions/setup-python@v6
        with:
          python-version: 3.x

      - name: Set cache id # This step is created with cache_id so that it can be referenced in the next step (fix Warning)
        id: set_cache_id
        run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_OUTPUT

      - name: Create cache directory
        run: mkdir -p .cache

      - uses: actions/cache@v4
        with:
          key: mkdocs-material-${{ steps.set_cache_id.outputs.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-

      - run: pip install .

      - run: mkdocs build --strict
        if: github.event_name == 'pull_request'

      - run: mkdocs gh-deploy --force
        if: github.event_name != 'pull_request'
